<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
				<li><a href="/blog">Blog</a></li>
				<li><a href="https://public.tableau.com/profile/scribblr.42#!/">Tableau Public</a></li>
				<li><a href="/about">About</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
				<li><a href="https://twitter.com/scribblr_42">twitter</a></li>
	        		<li><a href="mailto:scribblr42@gmail.com">email</a></li>
	        		<li><a href="https://github.com/scribblr42">github</a></li>
			</ul>
			</footer>
		</body>
	</html>
