<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			{% if site.tags != "" %}
  				{% include collecttags.html %}
			{% endif %}
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
				<li><a href="/tag/football">Football</a></li>
				<li><a href="/tag/tableau">Tableau</a></li>
				<li><a href="https://public.tableau.com/profile/scribblr.42#!/">Tableau Public</a></li>
				<li><a href="https://community.tableau.com/docs/DOC-22175/">Project Griffon</a></li>
				<li><a href="/about/">About</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
				<p>RM. Buy me a <a href="https://ko-fi.com/rmm30/">coffee</a>, if you like.</p>
				<li><a href="https://public.tableau.com/profile/scribblr.42#!/">tableau</a></li>
				<li>•</li>
	        		<li><a href="https://twitter.com/scribblr_42">twitter</a></li>
				<li>•</li>
	        		<li><a href="https://www.linkedin.com/in/ravi-mistry-a1006962/">linkedin</a></li>
				</ul>
			</ul>
			{% include google_analytics.html %}
			</footer>
		</body>
	</html>
